@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.recomm{
   
	font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
  
}


.btn_style{
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 1%, #94b1b9 30%);
	// background-color:#bddbfa;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

// .btn_style:hover {
// 	background:linear-gradient(to bottom, white 2%, #94b1b9 30%);
// 	background-color:white;
// }
.btn_style:active {
	position:relative;
	top:1px;
}